.carForm {
    margin:auto;
    width: 40%;
    border: 2px solid #04819E;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

button {
    cursor: pointer;

}

[type=button] {
    cursor: pointer;
}

label {
    cursor: pointer;
}

[type=radio] {
    cursor: pointer;
}

#form{
    margin-top: 100px;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
    background-color: #04819E;
    padding: 20px 40px;
    color: #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header h2 {
    float: right;
    opacity: 0.9;
}

header h3 {
    float: right;
    opacity: 0.9;
    width: 50%;
    margin-right: 50px;
}

header h2 a {
    color: #1d1d1d;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 3px;
    background-color: #ffee2f;
}